.tab-container {
  display: flex;
  margin-top: 48px;
  margin-left: 113px;
}
.serial-number {
  display: flex;
  flex-direction: column;
  width: 33px;
  height: fit-content;
  background-color: #d9d9d970;
  border-radius: 109px;
  align-items: center;
  gap: 31px;
}
.numbers {
  display: flex;
  align-items: center;
}
.tab-list {
  display: flex;
  flex-direction: column;
  margin-left: 26px;
  margin-right: 73px;
  gap: 35px;
}
.business-tabs-serial-num {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}
.main-tabs {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}
.business-tabs-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sub-tabs {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 8px;
  color: #737373;
  cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .tab-container {
    margin-left: 50px;
  }
}
.tab-list {
  margin-right: 35px;
}

@media (min-width: 431px) and (max-width: 768px) {
  .tab-container {
    margin: 38px auto 24px 50px;
  }
  .tab-list {
    margin-right: 50px;
  }
}

@media (min-width: 321px) and (max-width: 430px) {
  .tab-container {
    flex-direction: column;
    margin-left: 15px;
    margin-top: 15px;
  }
  .serial-number {
    flex-direction: row;
    background-color: #fff;
  }
  .business-tabs-serial-num {
    flex-direction: row;
  }
  .tab-list {
    margin-left: 10px;
    margin-top: 15px;
    gap: 10px;
  }
  .business-tabs-list {
    gap: 5px;
  }
}
